.upcoming{
    font-weight: 700;
    width: 21.4em;
    margin: 4em auto 2em auto;
    padding-bottom: 0.5em;
    border-bottom: dashed 3px #00fff3;
}

.theEvents{
    display: flex;
    width: 90%;
    /* border: 1px solid red; */
    /* height: 22em; */
    margin: 2em auto;
    justify-content: space-between;
}

.event1{
    width: 48%;
    /* border: 1px solid red; */
}

.person1{
    width: 100%;
    /* border: 1px solid red; */
    margin-bottom: 1em;
    height: 15em;
    
}

.iconCont{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    margin: 1.5em a;
}

.iconCont>div{
    /* border: 1px solid red; */
    width: 50%;
}
.iccon{
    margin-right: 0.6em;
    /* border: 1px solid red; */
    height: 1.5em;
    
}

button{
    margin-top: 1.3em;
    height: 2.7em;
    padding: 0.45em 0.8em;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #00fff3;
    border: none;
    border-radius: 0.3em;
    margin-bottom: 1.5em;
}

.partner{
    height: 27rem;
    /* width: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em auto;
    /* border: 1px solid red; */
    background-image: url("../assets/Images/blog8.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    z-index: 2;
    
}

.partner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity (0 = fully transparent, 1 = solid) */
  }
  

.partner>div{
    /* border: 1px solid red; */
    /* padding: 2em auto; */
    text-align: center;
    height: 60%;
    width: 70%;
    border-radius: 0.3em;
    background-color: #fdfefe;
    /* width: 30%; */
}

.partner>div>h1{
  /* color: pink; */
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.partner>div>p{
margin: 1em auto;
width: 90%;

}

.employees{
    width: 85%;
    /* border: 1px solid red; */
    margin: 1em auto;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.employees>div{
    width: 32%;
    /* border: 1px solid red; */
    height: 17rem;
}

.avatara{
    /* border: 1px solid red; */
    margin-left: 1.5em;

}

.emplA{
    background-color: #f2f3f4;
}

.up{
    display: flex;
    height: 65%;
    justify-content: space-between;
    margin-top: 1em;
}

.up>div{
    /* border: 1px solid red; */
    /* margin-right: 1em; */
    width: 48%;
}

.socialIcons{
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-weight: bold;
    font-size: 1.3em;
    color: #3498db;
}

.up>div>p{
    font-weight: 400;
}

.up>div>h1{
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    /* margin-left: 1.1em; */
}

.contacts{
    /* border: 1px solid red; */
    margin-top: 1em;
}

.conticons{
  margin-right: 0.5em;
  margin-left: 1em;
  font-size: 1.3em;
  color: #3498db;
    
}
.contacts>p{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}