.success{
    font-weight: 700;
    width: 9.4em;
    margin: 4em auto 2em auto;
    padding-bottom: 0.5em;
    border-bottom: dashed 3px #00fff3;
}

.successStory1{
    margin: .5rem auto;
    height: 12rem;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    width: 94%;
}

.story1{
    width: 30%;
    /* border: 1px solid red; */
}

.story2{
    width: 60%;
    /* border: 1px solid red; */
}

img{
    width: 100%;
    height: 100%;
}

p{
    line-height: 1.5rem;
    margin: 0 auto 1rem auto;
    font-weight: 500;
}

span{
    color: #00fff3;
}

.storyBg{
    background-color: #f0f3f4;
    height: 31em;
    padding: 2rem auto;
    margin: 3em auto;
    /* padding: 3rem auto; */
}